node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
birdsnest-project_upload_cert.pem
constants/firebaseConfig.js
constants/apiKeys.js
.env


# macOS
.DS_Store
